
:root {
  --cell-size: 55px;
  --col-bg: #1d1d1a;
  --col-text: #feffff;
  --col-primary: #fec53c;
  --col-secondary: #5183e7;
  --col-cell: #2d2d2d;
  --grid-size: 14;
  --grid-gap: 4px;
  --default-board-size: calc((var(--cell-size) + var(--grid-gap)) * (var(--grid-size) + 1));
  --tile-border-radius: 16px;
  color: white;
  background-color: var(--col-bg);
}

main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "score-header"
    "board"
    "rack";
  height: 100%;
  overflow: hidden;
  flex-basis: var(--default-board-size);
}

html {
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  height: 100%;
  padding: 2vh 2vw;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

button {
  background-color: var(--col-primary);
  color: black;
  border: none;
  padding: 5px 8px;
  font-size: 1.4em;
  font-family: inherit;
  /* outline: none; */
}

button:not(:disabled) {
  cursor: pointer;
}

button:focus-visible, button:hover:not(:disabled) {
  outline: 2px solid #fff;
}

button:disabled {
  opacity: 0.5;
}

dialog {
  background-color: #242421;
  color: var(--col-text);
  border-color: #000;
  width: 300px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog > form {
  display: flex;
  flex-direction: row-reverse;
}

#closeDialogButton {
  background-color:  transparent;
  border: 2px  solid rgba(255, 255, 255, 0.527);
  color: white;
  font-size: 1.2em;
}

.submit-button-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 22px;
}

.scroll-repeat-view {
  overflow: hidden;
  max-height: var(--default-board-size);
  grid-area: board;
}

#super-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: var(--grid-gap);
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  user-select: none;
  grid-gap: var(--grid-gap);
}

.cell {
  background-color: var(--col-cell);
}

.cell:hover {
  outline: var(--grid-gap) solid #666;
  border-radius: 3px;
}

.cell-2w {
  background-color: rgb(248, 187, 107);
}
.cell-3w {
  background-color: rgb(255, 63, 63);
}
.cell-2l {
  background-color: rgb(107, 172, 224);
}
.cell-3l {
  background-color: rgb(25, 105, 255);
}


.cell-select-highlight {
  background-color: #e5dcc2;
  height: 100%;
}

.tile {
  position: relative;
  text-align: center;
  font-size: 35px;
  line-height: var(--cell-size);
  background-color: var(--col-primary);
  color: var(--col-bg);
  border-radius: var(--tile-border-radius);
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0 3px 2px 0;
  height: var(--cell-size);
  box-sizing: border-box;
}

.preview-tile {
  color: black;
  background-color: var(--col-secondary);
}

.tile-value {
  position: absolute;
  font-size: 1rem;
  line-height: 1em;
  bottom: 5px;
  right: 7px;
}

.rack {
  grid-area: rack;
  border-bottom: 3px solid #5b5b5b;
  display: inline-flex;
  flex-flow: row wrap;
  padding: 4px;
  user-select: none;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 4px;
  overflow-x: auto;
}

.rack-tile {
  border: none;
  background-color: transparent;
  margin: 2px;
  padding: 0;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: var(--tile-border-radius);
}

.score-header {
  font-family: monospace;
  font-size: 1.4em;
}

.bottom-action-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 12px 12px 12px 6px;
}

.bottom-action-buttons > button {
  font-size: 1.7em;
  padding: 8px 12px;
  /* border-radius: 24px; */
  /* border: 2px solid #fff; */
  /* background-color: transparent; */
  /* color: var(--col-primary) */
}

/* .bottom-action-buttons > button:disabled {
  color: #fff;
} */