
:root {
  --cell-size: 55px;
  --col-bg: #1d1d1a;
  --col-text: #feffff;
  --col-primary: #fec53c;
  --col-secondary: #5183e7;
  --col-cell: #2d2d2d;
  color: white;
  background-color: var(--col-bg);
}

main {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas:
    ". score-header ."
    ". board ."
    ". rack .";
  height: 100%;
  overflow: hidden;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  padding: 2vh 2vw;
  margin: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-area: board;
  grid-template-columns: repeat(15, var(--cell-size));
  grid-template-rows: repeat(15, var(--cell-size));
  user-select: none;
  grid-gap: 4px;
  overflow: auto;
}

.cell {
  background-color: var(--col-cell);
}

.cell:hover {
  outline: 3px solid #666;
  border-radius: 3px;
}

.cell-selected {
  background-color: #e5dcc2;
}

.cell-highlight {
  background-color: #86806f;
}

.tile {
  position: relative;
  text-align: center;
  font-size: 35px;
  line-height: var(--cell-size);
  background-color: var(--col-primary);
  color: var(--col-bg);
  border-radius: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0 3px 2px 0;
  height: var(--cell-size);
  box-sizing: border-box;
}

.tile:hover {
  /* background-color: #b0b0d8; */
  opacity: 0.7;
}

.preview-tile {
  color: black;
  background-color: var(--col-secondary);
}

.tile-value {
  position: absolute;
  font-size: 1rem;
  line-height: 1em;
  bottom: 5px;
  right: 7px;
}

.rack {
  grid-area: rack;
  border-bottom: 3px solid #5b5b5b;
  display: inline-flex;
  flex-direction: row;
  padding: 4px;
  user-select: none;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 4px;
  overflow-x: auto;
}

.rack-tile {
  border: none;
  background-color: transparent;
  margin: 2px;
  padding: 0;
  width: var(--cell-size);
  height: var(--cell-size);
}

.score-header {
  font-family: monospace;
  font-size: 1.4em;
}